@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.dark {
    background-color: rgb(51,51,51)
}

.fill-remaining-space {
    flex: 1 1 auto;
}

div,
main{
    border: 1px solid black !important;
}
